
<!Doctype html>
<html>
  <head> <style>
      body{background:#CCFF66}
      p{color:blue}
    </style></head>
  <body>
<h3>USER SIGN-UP</h3>
    <form action="{{url_for('profile')}}" method="POST">
      <p>Image</p>
      <p>(Please enter ur image url)</p>
      <input type="text" name="image">
      <br><br>
      <p>First Name</p>
      <input type="text" name="firstname">
      <br><br>
      <p>Last Name</p>
      <input type="text" name="lastname">
      <br><br>
      <p>Age</p>
      <input type="text" name="age">
      <br><br>
      <p>Sex</p>
      <select name="sex">
         <option value="Male">Male</option>
         <option value="Female">Female</option>
      </select><br><br>
      <input type="submit" value="Submit">
      
    </form>
  </body>
</html>